// fonts
$pt: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;

// colors
$aquaTitle: #015f64;
$aquaBg: #00cccc;
$aquaBg2: #99cccc;

$orangeBtn: #ff5424;
$orangeBg: #ff9966;
$orangeTitle: #c3471d;

$font: #4b4b4b;